.topsearch {
	border-bottom: 2px; solid #f46;
	clear: both;
	position: relative;
	font-size: 12px;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.topsearch .logo {
	background: rgba(0, 0, 0, 0) url("../img/mgj_logo_207x51.png") no-repeat
		scroll 0 0;
	float: left;
	height: 60px;
	margin-bottom: 20px;
	margin-top: 28px;
	overflow: hidden;
	width: 250px;
	text-indent: -999em;
}

.search_form {
	float: left;
	margin: 35px 0 0 132px;
	position: relative;
	width: 502px;
}

.search_innerbox {
	border: 1px solid #3a3a3a;
}

.selectbox {
	float: left;
	position: relative;
	width: 70px;
	text-align: center;
}

.selectbox .selected {
	background-color: #fff;
	background-image: url("../img/tophead_cart.png"); 
	background-position :53px -15px;
	border-radius: 4px 0 0 4px;
	color: #666;
	display: block;
	height: 33px;
	line-height: 32px;
	padding-left: 0;

}

ol {
	list-style: outside none none;
	margin: 0;
	padding: 70px;
}

.search_content ol {
	border: 1px solid #3a3a3a;
	display: none;
	left: -1px;
	display: none;
	position: absolute;
	top: 100%;
	width: 70px;
}

.current a {
	color: #333;
}

.selectbox li a {
	height: 30px;
	overflow: hidden;
	text-align: center;
}

a {
	text-decoration: none;
}



.se_txt {
	border:medium none;
	color: #999;
	float: left;
	height: 21px;
	line-height: 20px;
	padding: 6px 10px 6px 6px;
	width: 344px;
	margin-top: -35px;
	margin-left: 70px;
	border: 1px solid #3a3a3a;
}

.se_btn {
	background: #3a3a3a url("../img/tophead_cart.png");
	background-position: 27px -57px;
	color: #fff;
	float: left;
	height: 37px;
	overflow: hidden;
	width: 75px;
	margin-top: -36px;
	margin-left: 428px;
	z-index: 50;
}

.se_hotwords{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 518px;
	padding-left: 120px;
}

.se_hotwords a {
	line-height: 1;
	padding: 0 0 0 16px;
}

.mgj_qrcode {
	
	border-radius: 3px;
	float: right;
	margin-top: 5px;
	padding-top: 5px;
}

.mgj_qrcode img {
	display: block;
	margin-right: 128px;
	margin-top: -80px;
}

.mgj_qrcode p {
	color: #444;
	line-height: 1;
	margin-top: 2px;
}